@media screen and (min-width: 768px) {
    .container {
        width: 768px;
    }

    .header > .container {
        max-width: 768px;
    }

    .site-nav {
        display: flex;
    }

    .contacts {
        display: block;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.33;
        padding: 24px 0 9px;
    }

    .contacts :first-child {
        margin-bottom: 4px;
    }

    .contacts .click {
        padding: 0px;
    }
    
    .menu-burger {
        display: none;
    }

    .hero {
        background-image: linear-gradient(
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
            url(../images/people-office-tab.jpg);
        max-width: 768px;
        height: 435px;
    }

    @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
        url(../images/people-office-tab-2x.jpg);
  }
}

    .hero-title {
        margin-bottom: 40px;
        font-size: 56px;
        line-height: 1.07;
    }

    .technologies > li {
        width: calc((100% - 24px) / 2);
    }

    .technologies h3 {
        text-align: left;
    }

    .team > .container {
        max-width: 582px;
    }

    .team-personal {
        gap: 24px;
        row-gap: 56px;
    }
    
    .team-items {
        width: calc((100% - 24px) / 2);
    }

    .section.customers .container {
        width: 582px;
    }

    .customers-banner {
        gap: 24px;
        row-gap: 72px;
    }

    .customers-items {
        width: calc((100% - 48px) / 3);
    }

    .gallery-works {
        padding-top: 64px;
        padding-bottom: 96px;
    }

    .gallery-filtr {
        display: flex;
        gap: 24px;
        justify-content: center;
        margin-bottom: 64px;
    }

    .gallery-examples {
        row-gap: 72px;
    }

    .gallery-examples > li {
        width: calc((100% - 24px) / 2);
    }

    .footer-title {
        text-align: left;
    }

    .sub-field {
        gap: 24px;    
    }

    .sub-mail {
        min-width: 264px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .footer-site {
        width: 582px;
        justify-content: left;
    }

    .nav-footer > a {
        justify-content: left;
    }

     

    
}